body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    font-size: 60px;
    font-family: "Pacifico", cursive;;
    color: white;
    text-shadow: 0 0 30px black;
}
img {
width: 100%;
}
nav a, li nav {
    color: #ff7373;
}
h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 40px 0 10px;
}
h2 {
    margin: 10px 0 0 0;
}
#mot {
    color: pink;
}
.mot {
   color: pink;
}
ul {
    /* Margin: si le bas n'est pas données alors = haut, si la gauche n'est pas données alors = droite */
    /* margin: 15px 0 0 0; */
    margin: 5px 0;
    /* margin: 5px 0 10px; */
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.Contenu {
    padding: 10px;
}
footer {
    background-color: #D4D3DC;
    background-image: url("https://t4.ftcdn.net/jpg/02/79/37/95/360_F_279379524_AYk6GGaiegqkieb4r0UJJ3akDkuL2aA2.jpg");
    background-size: 100px;
    font-size: 14px;
    padding: 15px;
    margin-top: 40px;
}
a {
    text-decoration: none;
}
.Container {
    width: 1300px;
    margin: 0 auto;
}
#Bienvenue {
    background-image: url("./Japon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    /* justify-content: left; */
    align-items: center;
    flex-direction: column;
}
#slogan {
    display: block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#top {
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
}
#tokyo {
    background-image: url("https://images.ctfassets.net/bth3mlrehms2/2cCxpmVnFuv9cwMkr2NsqO/c007c069037ffd565da823c0521768c5/Japan_Tokio_Skyline_und_Mt._Fuji.jpg?w=3721&h=2093&fl=progressive&q=50&fm=jpg");
    grid-row: 1 / 3;
}
#kyoto {
    background-image: url("https://images.ctfassets.net/bth3mlrehms2/1i0vZWcD587SaN9Udo6sf5/f2f82a33415bcb5381b1169ef0dc9070/Japan_Kyoto_Un_cerisier_en_fleur_dans_une_rue_de_Kyoto.jpg?w=3863&h=2172&fl=progressive&q=50&fm=jpg");
    grid-column: 2 / 4;
}
#osaka {
    background-image: url("https://www.dokodemo.fr/wp-content/uploads/2016/09/chateau-osaka.jpg");
}
#nara {
    background-image: url("https://cdn-s-www.leprogres.fr/images/32C7EAE5-A8A8-4294-AC67-2DCF724D753F/NW_raw/le-fameux-temple-todai-ji-l-un-des-symboles-de-la-ville-de-nara-photo-progres-adobestock-1580490012.jpg");
}
.ville {
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 400px;
    transition: all 0,2s;
    border-radius: 30px;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 400px rgba(0, 0, 0, 0);
}
.ville:hover {
    border: 3px solid #ff7373;
}
#flexbox-ville {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
#voir {
    display: inline-flex;
    align-items: center; 
    color: #ff7373;
    transition: all 0,4s;
    gap: 0;
}
#voir:hover {
 gap: 10px;
}

/* LES RESPONSIVE DESIGN  */

@media all and (max-width:1300px) {
    
}